html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    margin: 0;
}

.random {
    width: 40vw;
    background-color: beige;
    min-width: 300px;
}

.flex-container {
    background-color: aquamarine;
    flex: 1;
}
